.App-body {
    background-color: #1b3245;
    background: linear-gradient(rgb(2, 3, 4) 0%, rgb(27, 50, 69) 30%);
    padding: 15px 60px;
    /* change the color to white */
    color: white;
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.box {
    background-color: #82b29e;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    color: #000000;
    transition: all 1s;
}

.box:hover {
    transform: scale(1.09);
}

.box-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button {
    margin: 30px;
    padding: 12px 30px;
    border-radius: 50px;
    background: rgb(1, 191, 113);
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;
    margin-bottom: -50px;
    border: none;
    display: none;
}

.button:hover {
    transition: all 0.2s ease-in-out 0s;
    background-color: rgb(255, 255, 255);
    /* show the button */
}