.App-body {
    background-color: #1b3245;
    /* background: linear-gradient(rgb(2, 3, 4) 0%, rgb(27, 50, 69) 30%); */
    padding: 15px 60px;
    /* margin-bottom: 30px */
    /* change the color to white */
    color: white;
}

.landing {
    margin: 60px 10px;
    text-align: center;
}

.title {
    margin: 0;
    font-size: 120px;
    color: #01bf71
}

.subtitle {
    margin: 0;
}

.win {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.margen {
    width: 100%;
    border-radius: 15px;
    color: rgb(255, 255, 255);
}

.why {
    margin: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.why-title {
    padding: 15px;
    color: #000;

}

.why-col {
    display: flex;
    flex-direction: column;
}

.why-text {
    margin-bottom: 24px;
    padding: 15px;
    color: #000;
}

.img-text {
    text-align: center;
    display: flex;
}

.img-text img {
    width: 100%;
    object-fit: contain;
}

input {
    width: 70%;
    border-radius: 15px;
    border: 1px solid #000;
    margin-bottom: 5px;
    margin-top: 10px;
}

.input-h3 {
    margin: 0;
    margin-top: 20px;
}