.App {
    background-color: #1b3245;
    background: linear-gradient(rgb(2, 3, 4) 0%, rgb(27, 50, 69) 30%);
    padding: 15px 0;
    /* change the color to white */
    color: white;
}

.landing {
    margin: 60px 10px;
    text-align: center;
}

.title {
    margin: 0;
    font-size: 120px;
    color: #01bf71
}

.subtitle {
    margin: 0;
}

.why {
    margin: 60px 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.why-text {
    width: 50%;
    text-align: left;
}

.register {
    /* create a card (#dde1e7) with border and shadow */
    padding: 20px;
    margin: 20px;
    width: 30%;
    background-color: #dde1e7;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

    text-align: center;
    color: #000;
}

input {
    width: 100%;
}